<?xml version="1.0" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    
    <logger name="System Logger">
      <level value="ALL"/>
      <appender-ref ref="SystemMonitorLoging"/>
      <appender-ref ref="SystemError"/>
    </logger>
    
    <logger name="DataCollector Logger">
      <level value="ALL"/>
      <appender-ref ref="DataCollectorMonitorLoging"/>
      <appender-ref ref="DataCollectorError"/>
    </logger>
    
    <logger name="Antenna Logger">
      <level value="ALL"/>
      <appender-ref ref="AntennaMonitorLoging"/>
      <appender-ref ref="AntennaError"/>
    </logger>
    
    <logger name="Coil Logger">
      <level value="ALL"/>
      <appender-ref ref="CoilMonitorLoging"/>
      <appender-ref ref="CoilError"/>
    </logger>
    
    <logger name="Server Logger">
      <level value="ALL"/>
      <appender-ref ref="ServerMonitorLoging"/>
      <appender-ref ref="ServerError"/>
    </logger>

    <logger name="SerialPort Class Logger">
      <level value="ALL"/>
      <appender-ref ref="SerialPortMonitorLoging"/>
      <appender-ref ref="SerialPortError"/>
    </logger>

    <logger name="TCP Client Logger">
      <level value="ALL"/>
      <appender-ref ref="TCPClientMonitorLoging"/>
      <appender-ref ref="TCPClientError"/>
    </logger>

    <logger name="TCP Server Logger">
      <level value="ALL"/>
      <appender-ref ref="TCPServerMonitorLoging"/>
      <appender-ref ref="TCPServerError"/>
    </logger>
    
    <!--系统错误日志输出到文件中-->
    <appender name="SystemError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'system.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--系统监控日志输出到文件中-->
    <appender name="SystemMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'system.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    
    <!--数据采集错误日志输出到文件中-->
    <appender name="DataCollectorError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'DataCollector.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--数据采集监控日志输出到文件中-->
    <appender name="DataCollectorMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'DataCollector.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    
    <!--天线错误日志输出到文件中-->
    <appender name="AntennaError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'Antenna.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--天线监控日志输出到文件中-->
    <appender name="AntennaMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'Antenna.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    
    <!--线圈错误日志输出到文件中-->
    <appender name="CoilError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'Coil.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--线圈监控日志输出到文件中-->
    <appender name="CoilMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'Coil.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>

    <!--本地服务器错误日志输出到文件中-->
    <appender name="ServerError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'LocSrv.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--本地服务器监控日志输出到文件中-->
    <appender name="ServerMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'LocSrv.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>

    <!--串口基类错误日志输出到文件中-->
    <appender name="SerialPortError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'SerialPort.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--串口基类监控日志输出到文件中-->
    <appender name="SerialPortMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'SerialPort.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    
    <!--TCP客户端基类错误日志输出到文件中-->
    <appender name="TCPClientError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'TCPClient.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--TCP客户端基类监控日志输出到文件中-->
    <appender name="TCPClientMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'TCPClient.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>

    <!--TCP服务器基类错误日志输出到文件中-->
    <appender name="TCPServerError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'TCPServer.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d[线程ID:%t](日志级别:%p)-----%c: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
    <!--TCP服务器基类监控日志输出到文件中-->
    <appender name="TCPServerMonitorLoging" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="MonitorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd\\'TCPServer.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <maximumFileSize value="10240KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%d-----: %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
    </root>
  </log4net>  
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
